body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size:90px;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;

}

h3{
    font-family: 'Montserrat', sans-serif;

}

.pro{
    text-decoration: underline;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top:100px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.middle-container{
    
}
.bottom-container{
    
}
.profile{
    border-radius: 50%;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.iddle-container{
    border-radius: 50%;
}
.skill-row{
    border-radius: 50%;
}
